/* COLOR SCHEME
Black: #222222
Greyish Purple: #4B4E6D
Aqua: #84DCC6
Seashell white: #FFF4EC
Cadet grey: #95A3B3

font-family: 'Roboto Mono', monospace;
font-family: 'Open Sans', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff4ec;
}

header {
  background: #84dcc6;
  padding: 2rem 1rem;
  margin: 0 auto;
  text-align: center;
  color: #222222;
  font-size: 2.2rem;
  font-family: "Roboto Mono", monospace;
}

.intro {
  background: #4b4e6d;
  padding: 2rem 1rem;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Roboto Mono", monospace;
}

#button-container {
  width: 100%;
  text-align: center;
}

.talk {
  margin: 1rem auto;
  width: 90%;
  padding: 2rem 2rem;
  border-radius: 10px;
  background: #84dcc6;
  font-size: 1.8rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
}

.talk:hover {
  background: #78c8b4;
}

.user:empty {
  display: none;
}

.user {
  margin-left: 0.5em;
  background: #84dcc6;
  margin-right: 50%;
  border: 0.001px solid #4b4e6d;
  border-radius: 40px;
  text-align: center;
  padding: 0.5em;
  border-bottom-left-radius: 0;
  font-size: 1.6rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Open Sans", sans-serif;
}

.bot:empty {
  display: none;
}

.bot {
  margin-right: 0.5rem;
  background: #4b4e6d;
  color: white;
  margin-left: 50%;
  border: 2.5px solid #4b4e6d;
  border-radius: 40px;
  border-bottom-right-radius: 0;
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Open Sans", sans-serif;
}

table {
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
}

td,
th {
  border: 1px solid #4b4e6d;
  padding: 1rem;
  width: 50%;
}

tr:nth-child(even) {
  background: #4b4e6d;
  color: white;
}

.chat-box {
  background: white;
  margin: 1rem;
  border: 0.7rem solid #4b4e6d;
  min-height: 20rem;
  border-radius: 40px;
  border-style: double;
}
